<html>

<head>
    <style>
        #app {
			max-width: 42em;
			margin: 0em auto;
		}
	</style>
</head>

<body>
    <div id="chart" style="margin:0em auto;width: 100%; max-width: 42em; height: 120px;"></div>
    <div id="app">
        <p>{{message}}</p>
        Set tempo (BPM): <input v-model="tempo" id="tempo" type="number" min=0 max=300>
        <br>
        <p>Tempo data:</p>
        <textarea id="w3review" name="w3review" rows="4" cols="50" v-model="bpmdata"></textarea>
    </div>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="https://d3js.org/d3-selection.v1.min.js"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    <script src="https://huww98.github.io/TimeChart/dist/timechart.min.js"></script>
    <script src="https://cc.schollz.com/static/js/sparkline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    /** charting **/
    const el = document.getElementById('chart');
    const data = [];
    var chart = null;



    var app;
    var globalTempo = 0;
    var interval = 60000 / globalTempo / 24; // ms
    var expected = Date.now() + interval;


    function step() {
        if (globalTempo == 0) {
            return;
        }
        var dt = Date.now() - expected; // the drift (positive for overshooting)
        if (dt > interval) {
            // something really bad happened. Maybe the browser (tab) was inactive?
            // possibly special handling to avoid futile "catch up" run
        }
        for (var i = 0; i < WebMidi.outputs.length; i++) {
            WebMidi.outputs[i].sendClock();
        }
        expected += interval;
        setTimeout(step, Math.max(0, interval - dt)); // take into account drift
    }



    var app = new Vue({
        el: '#app',
        data: {
            message: "",
            tempo: 0,
            lastChange: (new Date().getTime()) / 1000,
            bpmdata: "",
            bpms: [],
            startTime: (new Date().getTime()) / 1000,
        },
        mounted: function() {
            console.log("loaded");
            var _this = this;
            WebMidi.enable(function(err) {
                if (err) {
                    _this.message = "WebMidi could not be enabled, make sure you are using Chrome"
                } else {
                    _this.message = "WebMidi enabled!";
                    console.log(WebMidi.outputs);
                    setTimeout(step, interval);
                }
            });

            fetch('http://localhost:8080/')
                .then(response => response.json())
                .then(data => {
                    console.log("got data");
                    console.log(data);
                    if (data.success) {
                        console.log("collecting bpm");
                        _this.intervalid1 = setInterval(function() {
                            fetch('http://localhost:8080/bpm')
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    _this.tempo = data.bpm;
                                });
                        }.bind(_this), 1000);
                    }
                }).catch((error) => {
                    console.log("no serial data available");
                });

        },
        created: function() {
            this.debouncedChangeTempo = _.debounce(this.changeTempo, 200)
        },
        watch: {
            tempo: function(val) {
                this.debouncedChangeTempo();
            },
        },
        methods: {
            changeTempo: function() {
                console.log("changing tempo to " + this.tempo);
                this.tempo = parseInt(this.tempo);
                if (this.tempo == globalTempo) {
                    data.push({ x: (new Date().getTime()) / 1000 - this.startTime, y: globalTempo })
                    chart.update()
                    return
                }
                console.log("updated");
                var lastTime = (new Date().getTime()) / 1000 - this.lastChange;
                if (globalTempo > 0) {
                    this.bpmdata += `${globalTempo} ${lastTime}` + "\n";
                }
                this.lastChange = (new Date().getTime()) / 1000;
                if (this.tempo > 0 && globalTempo == 0) {
                    setTimeout(step, interval);
                }
                // set tempo and interval
                globalTempo = this.tempo;
                interval = 60000 / globalTempo / 24;
                this.bpms.push(globalTempo);
                data.push({ x: (new Date().getTime()) / 1000 - this.startTime, y: globalTempo })
                if (chart == null && data.length > 2) {
                    console.log(data);
                    console.log(chart);
                    chart = new TimeChart(el, {
                        series: [{ data }],
                    });
                } else if (data.length > 2) {
                    chart.update()
                }
            },
        },
    })
    </script>
</body>

</html>